<style>
  .game-center {
    width: 320px;
    height: 480px;
    margin: 0 auto;
  }

  .game-iframe {
    width: 320px;
    height: 480px;
    border: 0;
  }

  .ad-leaderboard {
    width: 728px;
    height: 90px;
    margin: 10px auto 20px auto;
    /*padding-bottom: 20px;*/
  }

  .ad-side-content {
    float: left;
    width: 250px;
    background-color: pink;

  }
</style>

<div class="ad-leaderboard">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- planegame - leaderboard -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-9291736771592509"
       data-ad-slot="2765979791"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<div class="game-center">
  <iframe class="game-iframe" src="/mobile"/>
  </iframe>
</div>

