
<!-- splash screen -->
<div id="splash" data-role="page" data-rnc-jspage="splash" class="splash-page">
  <h1 class="splash-center">the Plane Game</h1>
</div>
<!-- attract screen -->
<div id="attract" data-role="page" data-rnc-jspage="attract" data-theme="e">
  <br/>
  <ul style="">
    <li><a href="#play" data-role="button">Play Game</a></li>
    <li><a href="#highScores" data-role="button">High Scores</a></li>
    <li><a href="#credits" data-role="button">Credits</a></li>
  </ul>
  <!--<audio controls preload loop>-->
    <!--<source src="audios/DST-Afternoon.mp3" type="audio/mp3">-->
    <!--Your browser does not support the audio element.-->
  <!--</audio>-->
</div>
<!-- play screen -->
<div id="play" data-role="page" data-rnc-jspage="play" data-theme="a">
  <!-- the actual size of the canvas game grid is set by JS -->
  <canvas id="grid" width="300" height="300" style="position: relative;">
    <strong>[Your browser can not show this example.]</strong>
  </canvas>
  <!-- this is the score and life information at the top of the page -->
  <div class="game-info">
    <span>1000</span>
  </div>
  <!-- this is the info that appears at the beginning and end of each level -->
  <div class="level-info">
    <span>Level One</span>
  </div>
</div>
<!-- high scores screen -->
<div id="highScores" data-role="page" data-rnc-jspage="info" data-theme="e">
  <br/>
  <ul>
    <li><a href="#attract" data-role="button">Return</a></li>
  </ul>
</div>
<!-- credits screen -->
<div id="credits" data-role="page" data-rnc-jspage="info" data-theme="e">
  <br/>
  <ul data-role="listview">
    <li data-role="list-divider"><span>JQM Game</span></li>
    <li>
      <span>Designed and developed by</span><br/>
      <span>the RocknCoder</span><br/>
      <span>(Troy Miles)</span>
    </li>
    <li data-role="list-divider"><span></span></li>
  </ul>
  <a href="#attract" data-role="button">Return</a>
</div>
