body {
    padding: 50px;
    /*font: 34px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    font-family: 'Allerta Stencil', sans-serif;
}

a {
    color: #00B7FF;
}

ul {
    padding-left: 10%;
    padding-right: 10%;
}

/*#play {*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*background: #ff0;*/
/*}*/

#grid {
    background-color: #77f;
    position: relative;
    top: 1px;
    left: 1px;
}

.splash-page {
    background-color: darkgray;
}

.splash-center {
    margin-top: 100px;
    text-align: center;
}

.game-screen {
    position: relative;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 20pt;
    text-shadow: 1px 1px 0px #333;
}

.game-info {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 100;
    width: 100%;
}

.game-info > div {
    width: 20%;
    text-align: right;
    margin: 2px 4px;
}

.game-toast {
    position: relative;
    width: 40%;
    top: -200px;
    z-index: 100;
    text-align: center;
    margin: 0 auto;
    background-color: darkgray;
}


#lives {
    float: left;
    text-align: left;
}

#score {
    margin: 2px auto;
}

#level {
    float: right;
}